/**  Basic Page CSS **/
body {
  font-weight: 200;
  background-color: #3b56ca;
}

header a,
footer a {
  color: white;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: #c730ba !important;
  border: inherit;
}